.comment{id: id_for_resource(comment), class: 'top-level'}
  %p
    = "#{comment.user.full_name} said #{time_ago_in_words(comment.created_at)} ago"
  %p
    = comment.text
  = partial 'comments/form', locals: { commentable: comment, submit_text: 'Submit Reply' }
  = partial 'comments/feed', locals: { comments: comment.comments, commentable: comment }
