.comments
  - comments.each do |comment|
    = partial 'comments/comment', locals: { comment: comment }
  - unless commentable.class.name == 'Comment'
    = partial 'comments/form', locals: { commentable: commentable, submit_text: 'Post Comment' }
