= form_tag '/comments/create', class: 'comment-form top-level', method: :post do
  = hidden_field_tag :user_id, value: current_user.id
  = hidden_field_tag :commentable_id, value: commentable.id
  = hidden_field_tag :commentable_type, value: commentable.class.name

  = label_tag :comment
  = text_field_tag :text, id: 'comment_text'
  = submit_tag submit_text
