#asset-request-items{class:"tab-pane fade active in"}
  - @asset_request.asset_request_items.each do |asset_request_item|
    = partial 'asset_request_items/asset_request_item', locals: { asset_request_item: asset_request_item }
    %hr
