body {
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.top {
  padding-top: 40px;
  padding-bottom: 30px;
}

.asset-image, .asset-profile-btn{ 
  padding: 10px;
  margin-right: 20px;
}

#main-left, #secondary-left, #summary-left{
  margin-right: 20px;
}

#main-right, #summary-right {
  margin-top: 20px;
}

.status-btn {
  margin-bottom: 10px;
}

.user-row, .role-row {
  cursor: pointer;
}

.top-level {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 30px;
  border: 1px dotted black;
}
