%h1= "Warranties About to Expire for #{company.name}" 

%h4= "There are #{assets.count} assets with expiring warranties"

%table#asset-inspections
  %tr
    %td Name
    %td Assignee
    %td Warranty Expiration Date
    %td 
    - assets.each do |asset|
      %tr
        %td= asset.name
        %td= asset.user ? asset.user.full_name : 'No User Assigned'
        %td= asset.warranty_expiration_date.to_s
        %td= 'View'
