%h1= "Inspections Due for #{company.name}" 

%h4= "There are #{assets.count} inspections pending"

%table#asset-inspections
  %tr
    %td Name
    %td Assignee
    %td Inspection Date
    %td 
    - assets.each do |asset|
      %tr
        %td= asset.name
        %td= asset.user ? asset.user.full_name : 'No User Assigned'
        %td= asset.inspection_date.to_s
        %td= 'View'
