= link_to 'Edit', url_for(:asset_profiles, :edit, id: asset_profile.id), class: 'btn btn-primary'
= link_to 'Create Asset from this profile', url_for(:asset_profiles, :clone, id: asset_profile.id), class: 'btn btn-primary'
= button_to 'Delete This Asset Profile', url(:asset_profiles, :destroy, :id => asset_profile.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary'
