#asset-profile-table
  .table-responsive
    %table.table.table-striped{ id: 'asset-profiles' }
      %thead
        %tr
          %td Name
        - asset_profiles.each do |asset_profile|
          = partial 'asset_profiles/asset_profile_row', locals: { asset_profile: asset_profile }
