%tr{ id: id_for_resource(asset_profile), class: class_for_resource(asset_profile)}
  %td= asset_profile.name
  %td
    = link_to 'Show', url_for(:asset_profiles, :show, id: asset_profile.id), class: 'btn btn-primary'
