= form_tag target, id: 'asset_profile_form', method: method do
  = hidden_field_tag :id, value: asset_profile.id
  = hidden_field_tag :company_id, value: asset_profile.company_id
  - if asset_profile.errors.messages.any?
    .well
      = error_messages_for :asset_profile
  .well
    %div{class: errors_for_form_group(asset_profile, :name, 'form-group')}
      = label_tag :name
      = text_field_tag :name, value: asset_profile.name, id: 'asset_profile_name', class: 'form-control'
  .form-group
    = submit_tag submit_text, class: 'btn btn-primary'
