%h2 You are currently viewing all Asset Profiles
- if @asset_profiles.length == 0
  %p There are no Asset Profiles available to show, click here to create a new one
- else
  = partial 'asset_profiles/asset_profile_table', locals: { asset_profiles: @asset_profiles }

= link_to 'New Asset Profile', url_for(:asset_profiles, :new), class: 'btn btn-primary'
