%h1 Create a new Asset Profile
= partial 'asset_profiles/asset_profile_form', locals: { asset_profile: @asset_profile, target: '/asset_profiles/create', method: 'post', submit_text: 'Create Asset Profile'}