%article#asset-profile
  = partial 'asset_profiles/summary', locals: { asset_profile: @asset_profile }
  #asset-profile-main-tabs
    = partial 'asset_profiles/tabs/index'
    #asset-profile-tab-content.tab-content
      = partial 'asset_profiles/tabs/assets', locals: { asset_profile: @asset_profile }
  %hr
  = partial 'asset_profiles/actions', locals: { asset_profile: @asset_profile }
