%h2
	Thank you for following up on your invitation to RollCall.
%p
	You have used the invitation code allocated to the owner of email address: #{@invitee.email}
%p
	This invitation code has now been used up. Please login via Google to complete the sign up process.
= link_to 'Login via Google', url_for(:sessions,:login), class: 'btn btn-primary'
