%section#actions
  %h4 Actions:
  .btn-group
    = button_to 'Send Invitation', url(:sign_ups, :create, :user_id => user.id), method: :post, class: 'btn btn-primary'
    = link_to 'Edit This User', url_for(:users, :edit, id: user.id), class: 'btn btn-primary'
    = button_to 'Delete This User', url(:users, :destroy, :id => user.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary'
