%section#summary
  #summary-left.pull-left
    #user-image
      - if user.primary_identity && user.image_url
        = image_tag(user.image_url, height: 70, width: 70)
      - else
        %i{class: 'fa fa-user fa-5x'}
  #summary-right
    %h3 #{user.full_name}
    %p Role: #{role_btn(user.role)}
