#user-table
  .table-responsive
    %table.table.table-striped{ id: 'users' }
      %thead
        %tr
          %td
          = filter_btn(:email, :users, :text => 'Name')
          = filter_btn(:role_id, :users)
          %td Assets
        - users.each do |user|
          = partial 'users/user_row', locals: { user: user }