%tr.user.user-row{ id: id_for_resource(user), data: {location: url_for(:users, :show, id: user.id)}}
  %td
    - if user.primary_identity && user.image_url
      = image_tag(user.image_url, height: 50, width: 50)
    - else
      %i{class: 'fa fa-user fa-4x'}
  %td= link_to(user.full_name, url_for(:users, :show, id: user.id))
  %td= role_btn(user.role)
  %td= user.assets.length
  %td= link_to('Show', url_for(:users, :show, id: user.id), class: 'btn btn-primary')
