= form_tag target, method: method, id: 'user-form' do
  = hidden_field_tag :id, value: user.id
  - if user.errors.messages.any?
    .well
      = error_messages_for :user
  .well
    %div{class: errors_for_form_group(user, :email, 'form-group')}
      = label_tag :email
      = text_field_tag :email, value: user.email, id: 'user_email', class: 'form-control'
      = label_tag 'Send user an email invitation?'
      = check_box_tag(:invite, id: 'user_invite')
  .well
    %div{class: errors_for_form_group(user, :role, 'form-group')}
      = label_tag :role
      = select_tag(:role_id, options: roles.map{|r| [r.name, r.id]} << ['',''], selected: user.role_id, id: 'user_role', class: 'form-control')
  .form-group
    = submit_tag submit_text, class: 'btn btn-primary'
