%h2 You are currently viewing all Users
- if @users.length == 0
  %p There are no Users available to show, click here to create a new one
- else
  = partial 'users/user_table', locals: { users: @users }
= will_paginate @users
%br
= link_to 'New User', url_for(:users, :new), class: 'btn btn-primary'
