%article#user
  = partial 'users/summary', locals: { user: @user }
  #user-main-tabs
    = partial 'users/tabs/index'
    #user-tab-content.tab-content
      = partial 'users/tabs/assets', locals: { user: @user }
      = partial 'users/tabs/requests', locals: { user: @user }
      = partial 'users/tabs/comments', locals: { users: @user }
      = partial 'users/tabs/identities', locals: { users: @user }
  %hr
  = partial 'users/actions', locals: { user: @user }
  %hr
  %section#user-comments
    %h4 Comments for this User
    = partial 'comments/feed', locals: { comments: @user.comments, commentable: @user }
