.container.top
  #main.row
    %h2 About RollCall

    %p.blurb 
      RollCall is an application for managing the assets within your company. We hope that it will make it easy to keep tabs on which employee your hardware and software is currently allocated to.