.container.top
  #main.row
    %h2 Make managing your company hardware and software easy
    %p.lead
      Here you can provide easy access to a log of your laptops, phones, monitors and applications to anyone in your company. Add further detail including warranty and repair statuses to keep on top of your inventory
    %p
    = link_to 'Learn more »', url_for(:home, :about), class:"btn btn-primary btn-med", role: "button"

.container
  #main.row
    %h3 Companies using Rollcall
    .col-xs-4
      %h4 FreeAgent
      %p
        FreeAgent use Rollcall to manage their large inventory of Apple Hardware. This includes various types of Macbooks, iMacs and iPhones. FreeAgent also makes extensive use of Rollcall's ability to catalog software, including serial key's and ownership.
    .col-md-4
      %h4 Google
      %p
        Rollcall is used to manage various servers within Google's company. They make use of the email alerts to inform their administrators when their hardware is due for inspection or renewal.
    .col-md-4
      %h4 Daemon
      %p
        Daemon had a hard time keeping on top of their hardware resources when the company began growing rapidly. To ensure they never lost track of an expensive piece of kit they logged everything in Rollcall.