%section#actions
  %h4 Actions:
  .btn-group
    = link_to 'Edit This Asset Request', url_for(:asset_requests, :edit, id: asset_request.id), class: 'btn btn-primary'
    = button_to 'Delete This Asset Request', url(:asset_requests, :destroy, :id => asset_request.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary'
