%tr.asset-request.asset-request-row{ id: id_for_resource(asset_request), data: {location: url_for(:asset_requests, :show, id: asset_request.id)}}
  %td
    = user_btn(asset_request.requester, 'No Requester Assigned')
  %td
    = user_btn(asset_request.manager, 'No Manager Assigned')
  %td
    = user_btn(asset_request.user)
  %td
    = asset_request.due_date.to_date
  %td
    = link_to('Show', url_for(:asset_requests, :show, id: asset_request.id), class: 'btn btn-primary')
