= form_for asset_request, target, method: method, id: 'request-form' do
  = hidden_field_tag :id, value: asset_request.id
  = hidden_field_tag :requester_id, value: asset_request.requester_id
  = hidden_field_tag :company_id, value: asset_request.company_id
  #user-sect
    = partial 'users/js/user_fields', locals: { selected_user_id: asset_request.user_id, users: users }
  %hr
  #assets-sect
    = partial 'asset_profiles/js/asset_profile_fields', locals: { selected_asset_profile_ids: asset_request.asset_profile_ids, asset_profiles: asset_profiles }
  %hr
  = label_tag :due_date
  = text_field_tag :due_date, value: asset_request.due_date, id: 'request_due_date'

  = submit_tag submit_text