#asset-request-table
  .table-responsive
    %table.table.table-striped{ id: 'asset-requests' }
      %thead
        %tr
          %td Requester
          %td Manager
          %td User
          %td Due Date
          %td
        - asset_requests.each do |asset_request|
          = partial 'asset_requests/asset_request_row', locals: { asset_request: asset_request }
