%p Assignee: #{user_btn(asset_request.user)}
%p Manager: #{user_btn(asset_request.manager, 'No Manager Assigned')}
%p Requester: #{user_btn(asset_request.requester, 'No Requester Assigned')}
%p Status: #{link_to (asset_request.complete? ? 'Complete' : 'Incomplete'), '#', class: asset_request.complete? ? 'btn btn-success' : 'btn btn-danger'}
