%h1= 'Edit Asset Request'
= partial 'asset_requests/asset_request_form', locals: { asset_request: @asset_request, users: @users, asset_profiles: @asset_profiles, target: '/asset_requests/update', method: 'put', submit_text: 'Edit Request'}