%h2 You are currently viewing all Asset Request
- if @asset_requests.length == 0
  %p There are no Requests available to show, click here to create a new one
- else
  = partial 'asset_requests/asset_request_table', locals: { asset_requests: @asset_requests }

= link_to 'New Asset Request', url_for(:asset_requests, :new), class: 'btn btn-primary'
