%h1= 'Create new Asset Request'
= partial 'asset_requests/asset_request_form', locals: { asset_request: @asset_request, users: @users, asset_profiles: @asset_profiles, target: '/asset_requests/create', method: 'post', submit_text: 'Submit Request'}