%article#asset-request
  %section#summary
    %h3 Asset Request
    = partial 'asset_requests/summary', locals: { asset_request: @asset_request }
  #asset-request-main-tabs
    = partial 'asset_requests/tabs/index'
    #asset-request-tab-content.tab-content
      = partial 'asset_requests/tabs/asset_request_items', locals: { asset_request: @asset_request }
      = partial 'asset_requests/tabs/info', locals: { asset_request: @asset_request }
  %hr
  = partial 'asset_requests/actions', locals: { asset_request: @asset_request }
  %hr
