%ul#tabs.nav.nav-tabs.nav-justified{data:{tabs:'tabs'}}
  %li.active
    %a{href:'#assets', data:{toggle:'tab'}} Assets
  %li
    %a{href:'#requests', data:{toggle:'tab'}} Requests
  %li
    %a{href:'#comments', data:{toggle:'tab'}} Comments
  %li
    %a{href:'#identities', data:{toggle:'tab'}} Identities
