#requests{class:"tab-pane fade"}
  #user-asset-requests
    - if user.asset_requests.length == 0
      %h5 This user has no asset requests assigned to them
    - else
      %h5 Asset requests this user is assigned to:
      - user.asset_requests.each do |asset_request|
        = partial 'asset_requests/user_asset_request', locals: {asset_request: asset_request } 
  %hr
  #creator-asset-requests
    - if user.created_asset_requests.length == 0
      %h5 This user has not created any Asset requests
    - else
      %h5 Asset requests this user has created:
      - user.created_asset_requests.each do |asset_request|
        = partial 'asset_requests/user_asset_request', locals: {asset_request: asset_request }
  %hr
  #manager-asset-requests
    - if user.asset_requests.length == 0
      %h5 This user is not managing any asset requests
    - else
      %h5 Asset requests this user is managing:
      - user.manager_asset_requests.each do |asset_request|
        = partial 'asset_requests/user_asset_request', locals: {asset_request: asset_request } 
