#assets{class:"tab-pane fade active in"}
  - if category.assets.length == 0
    %p.lead There are currently no assets associated with this role. Click here to create a new Asset.
    = link_to 'New Asset', url_for(:assets, :new), class: 'btn btn-primary'
  - else
    - category.assets.each do |asset|
      = partial 'assets/mini_asset', locals: { asset: asset }
      %hr
