%h1
	RollCall Invitation

%p
	Hi there! You have been invited to join the #{signup.company.name} company by #{signup.inviter.full_name}.

	Please click the following link to accept your invitation and sign up to RollCall:

%a{href: url}= url
