= form_tag target, method: method, id: 'company-form' do
  = hidden_field_tag :id, value: company.id
  - if company.errors.messages.any?
    .well
      = error_messages_for :company
  .well
    %div{class: errors_for_form_group(company, :name, 'form-group')}
      = label_tag :name
      = text_field_tag :name, value: company.name, id: 'company_name', class: 'form-control'
  .well
    %div{class: errors_for_form_group(company, :name, 'form-group')}
      = label_tag :owner
      = select_tag(:owner_id, options:  users.map{|u| [u.full_name, u.id]} , selected: company.owner_id, id: 'company_owner', class: 'form-control')
  .form-group
    = submit_tag submit_text, class: 'btn btn-primary'
