%h1 Company Overview

%h2= @company.name

.chart-row.row
  #category-assets.col-md-6.pull-left
    %h3.lead.text-center Assets per Category
    = pie_chart url_for(:categories, :chart)
  #roles-users.col-md-6
    %h3.lead.text-center Users per Role
    = pie_chart url_for(:roles, :chart)
.chart-row.row
  #asset-health.col-md-4.pull-left
    %h3.lead.text-center Asset Health
    = bar_chart url_for(:assets, :chart_asset_health)
  #asset-assignment.col-md-4
    %h3.lead.text-center Asset Assignment
    = bar_chart url_for(:assets, :chart_asset_assignment)
  #asset-warranty.col-md-4
    %h3.lead.text-center Asset Warranties
    = pie_chart url_for(:assets, :chart_asset_warranty)