#existing-user
  %h4= 'Select an Existing User:'
  = select_tag :user_id, options: users.map{ |u| [u.full_name, u.id] } << ['',0], selected: selected_user_id || 0, id: 'request_user_id'
#new-user
  %span{id: 'create_user_btn', class: 'btn btn-primary'} + Create New User