#user-fields
  = csrf_token_field
  = label_tag :email
  = text_field_tag :email, id: 'user_email'
  = label_tag :role
  = select_tag :role_id, options: @roles.map{ |r| [r.name, r.id] } << ['',0], id: 'user_role'
  %span{id: 'submit_user_btn', class: 'btn btn-primary'} Create User