%h1= "Asset Requests Created for #{company.name}" 

%h4= "A new Asset Request has been created by #{asset_request.requester.full_name}"

%table#due-asset-requests
  %tr
    %td Assignee
    %td Requester
    %td Manager
    %td Request Due Date
    %td Items
    %td 
  %tr
    %td= asset_request.user ? asset_request.user.full_name : 'No User Assigned'
    %td= asset_request.requester.full_name
    %td= asset_request.manager ? asset_request.manager.full_name : 'No Manager Assigned'
    %td= asset_request.due_date.to_s
    %td= asset_request.asset_request_items.length
    %td= 'View'
