%h1= "Asset Requests Due for #{company.name}" 

%h4= "There are #{asset_requests.count} due to be completed"

%table#due-asset-requests
  %tr
    %td Assignee
    %td Requester
    %td Manager
    %td Request Due Date
    %td Items
    %td 
    - asset_requests.each do |asset_request|
      %tr
        %td= asset_request.user ? asset_request.user.full_name : 'No User Assigned'
        %td= asset_request.requester.full_name
        %td= asset_request.manager ? asset_request.manager.full_name : 'No Manager Assigned'
        %td= asset_request.due_date.to_s
        %td= asset_request.asset_request_items.length
        %td= 'View'
