%ul#tabs.nav.nav-tabs.nav-justified{data:{tabs:'tabs'}}
  %li.active
    %a{href:'#info', data:{toggle:'tab'}} Information
  %li
    %a{href:'#categories', data:{toggle:'tab'}} Categories
  %li
    %a{href:'#status-changes', data:{toggle:'tab'}} Status Changes
