#info{class:"tab-pane fade active in row"}
  .col-md-1
  #secondary-left.col-md-5
    %h4 Dates

    %p Warranty valid until: #{date_text(asset.warranty_expiration_date)}
    %p Inspection date: #{date_text(asset.inspection_date)}
    %p Purchase date: #{date_text(asset.purchase_date)}
    %p Serial Number: #{asset.serial_number}

  .col-md-1
  #secondary-right.col-md-5
    %h4 Information

    %p Description:
    %p #{@asset.description}
    %p Specification: 
    %p Loads of other garbage
