#status-changes{class:"tab-pane fade"}
  #status-changes-table
    .table-responsive
      %table.table.table-striped{ id: 'users' }
        %thead
          %tr
            %td Type
            %td From
            %td To
            %td By
            %td Date
          - asset.asset_status_changes.each do |status_change|
            = partial 'assets/status_changes/asset_status_change', locals: { status_change: status_change }

