%section#actions
  %h4 Actions:
  .btn-group
    = button_to 'Clone This Asset', url(:assets, :clone, id: asset.id), method: :post, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'
    = link_to 'Request Similar', '#', class: 'btn btn-default'
    = link_to 'Edit This Asset', url_for(:assets, :edit, id: asset.id), class: 'btn btn-primary'
    %a.btn
      = button_to 'Delete This Asset', url(:assets, :destroy, id: asset.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'
