%tr.asset{ id: id_for_resource(asset) }
  %td
    - if asset.image_url
      = image_tag(asset.image_url)
    - else
      %i{class: 'fa fa-desktop fa-border'}
  %td= asset.id
  %td= asset.name
  %td= assignment_status_btn(asset.assignment_status)
  %td= health_status_btn(asset.health_status)
  %td= warranty_status_btn(asset.warranty_status)
  %td= user_btn(asset.user)
  %td= link_to 'View', url_for(:assets, :show, id: asset.id), class: 'btn btn-primary'
