#asset-table
  .table-responsive
    %table.table.table-striped{ id: 'assets' }
      %thead
        %tr
          %td
          = filter_btn(:id, :assets)
          = filter_btn(:name, :assets)
          = filter_btn(:assignment_status, :assets)
          = filter_btn(:health_status, :assets)
          = filter_btn(:warranty_status, :assets)
          = filter_btn(:user_id, :assets)
        - assets.each do |asset|
          = partial 'assets/asset_row', locals: { asset: asset }