= form_tag target, id: 'asset_form', method: method do
  = hidden_field_tag :id, value: asset.id
  = hidden_field_tag :creator_id, value: asset.creator_id
  = hidden_field_tag :asset_profile_id, value: asset.asset_profile_id
  = hidden_field_tag :company_id, value: asset.company_id
  - if asset.errors.messages.any?
    .well
      = error_messages_for :asset
  .well
    %div{class: errors_for_form_group(asset, :name, 'form-group')}
      = label_tag :name
      = text_field_tag :name, value: asset.name, id: 'asset_name', class: 'form-control'
    %div{class: errors_for_form_group(asset, :categories, 'form-group')}
      = label_tag :categories
      = select_tag(:category_ids, options: categories.map{|c| [c.name, c.id]}, selected: asset.category_ids, multiple: true, id: 'asset_categories', class: 'form-control')
    %div{class: errors_for_form_group(asset, :user, 'form-group')}
      = label_tag :user
      = select_tag(:user_id, options:  users.map{|u| [u.full_name, u.id]}.unshift(['',0]) , selected: asset.user_id, id: 'asset_user', class: 'form-control')
  .well
    .row
      %div{class: errors_for_form_group(asset, :assignment_status, 'form-group col-lg-6')}
        = label_tag :assignment_status
        = select_tag(:assignment_status, options: assignment_statuses, selected: asset.assignment_status, id: 'asset_assignment_status', class: 'form-control')
      %div{class: errors_for_form_group(asset, :health_status, 'form-group col-lg-6')}
        = label_tag :health_status
        = select_tag(:health_status, options: health_statuses, selected: asset.health_status, id: 'asset_health_status', class: 'form-control')
    .row
      %div{class: errors_for_form_group(asset, :warranty_status, 'form-group col-lg-4')}
        = label_tag :warranty_status
        = select_tag(:warranty_status, options: warranty_statuses, selected: asset.warranty_status, id: 'asset_warranty_status', class: 'form-control')
      %div{class: errors_for_form_group(asset, :warranty_expiration_date, 'form-group col-lg-4')}
        = label_tag :warranty_expiration_date
        = text_field_tag :warranty_expiration_date, value: asset.warranty_expiration_date, id: 'asset_warranty_expiration_date', class: 'form-control datepicker'
      %div{class: errors_for_form_group(asset, :warranty_type, 'form-group col-lg-4')}
        = label_tag :warranty_type
        = text_field_tag :warranty_type, value: asset.warranty_type, id: 'asset_warranty_type', class: 'form-control'
    .row
      %div{class: errors_for_form_group(asset, :purchase_date, 'form-group col-lg-6')}
        = label_tag :purchase_date
        = text_field_tag :purchase_date, value: asset.purchase_date, id: 'asset_purchase_date', class: 'form-control datepicker'
      %div{class: errors_for_form_group(asset, :inspection_date, 'form-group col-lg-6')}
        = label_tag :inspection_date
        = text_field_tag :inspection_date, value: asset.inspection_date, id: 'asset_inspection_date', class: 'form-control datepicker'
  .well
    %div{class: errors_for_form_group(asset, :serial_number, 'form-group')}
      = label_tag :serial_number
      = text_field_tag :serial_number, value: asset.serial_number, id: 'asset_serial_number', class: 'form-control'
    %div{class: errors_for_form_group(asset, :description, 'form-group')}
      = label_tag :description
      = text_area_tag :description, value: asset.description, id: 'asset_description', class: 'form-control'
  .form-group
    = submit_tag submit_text, class: 'btn btn-primary'