%article.asset
  .asset-image.pull-left
    - if asset.image_url
      = image_tag(asset.image_url)
    - else
      %i{class: 'fa fa-desktop fa-5x fa-border'}
  .asset-info
    %h4= link_to asset.name, url_for(:assets,:show,id:asset.id)
    %p Serial Number: #{asset.serial_number}
    %section.status
      %p Status:
      = assignment_status_btn(asset.assignment_status)
      = health_status_btn(asset.health_status)
      = warranty_status_btn(asset.warranty_status)
