#main-left.pull-left
  .asset-image
    - if asset.image_url
      = image_tag(asset.image_url)
    - else
      %i{class: 'fa fa-desktop fa-5x fa-border'}
    %br
  .asset-profile-btn
    = link_to 'Asset Profile', url_for(:asset_profiles, :show, id: asset.asset_profile.id), class: 'btn btn-primary'
  %br
#main-right
  %h3.lead= asset.name
  %p Assigned to: #{user_btn(asset.user)}
  %p Serial Number: #{asset.serial_number}
  #status
    %p Status:
    .btn-group
      = health_status_btn(asset.health_status)
      = assignment_status_btn(asset.assignment_status)
      = warranty_status_btn(asset.warranty_status)
