%h1= "Editing #{@asset.name}"
= partial 'assets/asset_form', locals: { asset: @asset, categories: @categories, assignment_statuses: @assignment_statuses, health_statuses: @health_statuses, warranty_statuses: @warranty_statuses, users: @users, target: '/assets/update', method: 'put', submit_text: 'Save'}