%h2= @title
- if @assets.length == 0
  %p.lead There are no Assets available to show, click here to create a new one
- else
  = partial 'assets/asset_table', locals: { assets: @assets }
= will_paginate @assets
%br
%button#new-asset-btn.btn.btn-primary New Asset
#new-asset-modal.modal.fade