%h2 View Asset
%hr
%article.asset
  %section#main
    = partial 'assets/summary', locals: { asset: @asset }
  %br
  %br
  #asset-main-tabs
    = partial 'assets/tabs/index'
    #asset-tab-content.tab-content
      = partial 'assets/tabs/info', locals: { asset: @asset }
      = partial 'assets/tabs/categories', locals: { asset: @asset }
      = partial 'assets/tabs/status_changes', locals: { asset: @asset }
  %hr
  = partial 'assets/actions', locals: { asset: @asset }
  %hr
  %section#asset-comments
    %h4 Comments for this Asset
    = partial 'comments/feed', locals: { comments: @asset.comments, commentable: @asset}
