.modal-dialog
  .modal-content
    .modal-header
      %button.close{type:"button", data: {dismiss:"modal"}}
        %span &times;
      %h2.modal-title Create new Asset
    .modal-body
      = partial 'assets/asset_form', locals: { asset: @asset, categories: @categories, assignment_statuses: @assignment_statuses, health_statuses: @health_statuses, warranty_statuses: @warranty_statuses, users: @users, target: '/assets/create', method: 'post', submit_text: 'Create Asset'}