= form_tag target, id: 'role_form', method: method do
  = hidden_field_tag :id, value: role.id
  = hidden_field_tag :company_id, value: role.company_id
  - if role.errors.messages.any?
    .well
      = error_messages_for :role
  .well
    %div{class: errors_for_form_group(role, :name, 'form-group')}
      = label_tag :name
      = text_field_tag :name, value: role.name, id: 'role_name', class: 'form-control'
  .well
    %div{class: errors_for_form_group(role, :staff_profile, 'form-group')}
      = label_tag :staff_profile
      = select_tag(:staff_profile_id, options: staff_profiles.map{|c| [c.name, c.id]} << ['',''], selected: role.staff_profile_id, id: 'role_staff_profile', class: 'form-control')
  .form_group
    = submit_tag submit_text, class: 'btn btn-primary'