#role-table
  .table-responsive
    %table.table.table-striped{ id: 'roles' }
      %thead
        %tr
          %td Name
          %td Users
          %td Assets
        - roles.each do |role|
          = partial 'roles/role_row', locals: { role: role }