%tr.role.role-row{ id: "role-#{role.id}", data: {location: url_for(:roles, :show, id: role.id) }}
  %td= role.name
  %td= role.users.length
  %td= role.assets.length
  %td
    = link_to 'Show', url_for(:roles, :show, id: role.id)