%h2 You are currently viewing all Roles
- if @roles.length == 0
  %p There are no Roles available to show, click here to create a new one
- else
  = partial 'roles/role_table', locals: { roles: @roles }

= link_to 'New Role', url_for(:roles, :new), class: 'btn btn-primary'
