%h2 View Role
%hr
%article.role
  %section#main
    %h2= @role.name
  #role-main-tabs
    %ul#tabs.nav.nav-tabs.nav-justified{data:{tabs:'tabs'}}
      %li.active
        %a{href:'#assets', data:{toggle:'tab'}} Assets
      %li
        %a{href:'#users', data:{toggle:'tab'}} Users
    #role-tab-content.tab-content
      #assets{class:"tab-pane fade active in"}
        - if @role.assets.length == 0
          %p.lead There are currently no assets associated with this role. Click here to create a new Asset.
          = link_to 'New Asset', url_for(:assets, :new), class: 'btn btn-primary'
        - else
          - @role.assets.each do |asset|
            = partial 'assets/mini_asset', locals: { asset: asset }
            %hr
      #users{class:"tab-pane fade"}
        - if @role.users.length == 0
          %p.lead There are currently no users associated with this role. Click here to create a new User.
        - else
          - @role.users.each do |user|
            %article.user
              .user-image
                - if user.primary_identity && user.image_url
                  %i{src: user.image_url}
                - else
                  %i{class: 'fa fa-user fa-5x'}
              .user-info
                %h4= link_to user.full_name, url_for(:users,:show,id:user.id)
        = link_to 'New User', url_for(:users, :new, role_id: @role.id ), class: 'btn btn-primary'
  %hr
  %section#actions
    %h4 Actions:
    .btn-group
      = link_to 'Edit This Role', url_for(:roles, :edit, id: @role.id), class: 'btn btn-primary'
      = button_to 'Delete This Role', url(:roles, :destroy, :id => @role.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary'
  %hr
  = partial 'comments/feed', locals: { comments: @role.comments, commentable: @role }
