%h1 Alert Settings
= form_tag '/companies/settings/alert_settings/update', method: :put, id: 'alert-settings-form' do
  - if @settings.errors.messages.any?
    .well
      = error_messages_for :settings
  .well
    %p Select the users who you would like to be informed when System alerts are triggered:
    %div{class: errors_for_form_group(@settings, :users, 'form-group')}
      = label_tag :users
      = select_tag(:user_ids, options: @users.map{|c| [c.full_name, c.id]}, selected: @settings.user_ids, multiple: true, id: 'alert_settings_users', class: 'form-control')
  .form-group
    = submit_tag 'Save', class: 'btn btn-primary'
