%tr.status-change{ id: "asset-status-change-#{status_change.id}" }
  %td= status_change_text(status_change)
  %td= status_changed_from_btn(status_change)
  %td= status_changed_to_btn(status_change)
  %td= user_btn(status_change.user)
  %td= status_change.changed_date.to_date.to_s
