#existing-assets
  %h4= 'Select Existing Asset Profiles:'
  = select_tag :asset_profile_ids, options: asset_profiles.map{ |ap| [ap.name, ap.id] } << ['',0], selected: selected_asset_profile_ids, multiple: true, id: 'request_asset_ids'
#new-asset
  %span{id: 'create_asset_profile_btn', class: 'btn btn-primary'} + Create Asset Profile