#asset-fields
  = csrf_token_field
  = hidden_field_tag :company_id, value: @asset_profile.company_id
  = label_tag :name
  = text_field_tag :name, id: 'asset_profile_name'
  %span{id: 'submit_asset_profile_btn', class: 'btn btn-primary'} Create Asset Profile