%section#actions
  %h4 Actions:
  .btn-group
    = link_to 'Edit This Category', url_for(:categories, :edit, id: category.id), class: 'btn btn-primary'
    = button_to 'Delete This Category', url(:categories, :destroy, :id => category.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary'
    = link_to 'Create Asset for this Category', url_for(:assets, :new, category_ids: category.id), class: 'btn btn-primary'
