#category-table
  .table-responsive
    %table.table.table-striped{ id: 'categories' }
      %thead
        %tr
          = filter_btn(:name, :categories)
          %td Assets
        - categories.each do |category|
          = partial 'categories/category_row', locals: { category: category }