= form_tag target, id: 'category_form', method: method do
  = field_set_tag do
    = hidden_field_tag :id, value: category.id
    = hidden_field_tag :user_id, value: category.user_id
    = hidden_field_tag :company_id, value: category.company_id
    - if category.errors.messages.any?
      .well
        = error_messages_for :category
    .well
      %div{class: errors_for_form_group(category, :name, 'form-group')}
        = label_tag :name
        = text_field_tag :name, value: category.name, id: 'category_name', class: 'form-control'
    .form-group
      = submit_tag submit_text, class:'btn btn-primary'