%h2 Viewing all Categories
- if @categories.length == 0
  %p There are no Categories available to show, click here to create a new one
- else
  = partial 'categories/category_table', locals: { categories: @categories }
= will_paginate @categories
%br
= link_to 'New Category', url_for(:categories, :new), class: 'btn btn-primary'
