%h2 View Category
%hr
%article.category
  %section#main
    = partial 'categories/summary', locals: { category: @category }
  #category-main-tabs
    = partial 'categories/tabs/index'
    #role-tab-content.tab-content
      = partial 'categories/tabs/assets', locals: { category: @category }
  %hr
  = partial 'categories/actions', locals: { category: @category }
  %hr
  = partial 'comments/feed', locals: { comments: @category.comments, commentable: @category }
