.asset-request-item
  %h5= asset_request_item.asset_profile.name
  - if asset_request_item.asset
    = link_to 'Change Asset', '#', class: 'btn btn-primary'
    = link_to 'Linked Asset', url_for(:assets, :show, id: asset_request_item.asset.id), class: 'btn btn-success'
  - else
    = link_to 'Set Asset', '#', class: 'btn btn-primary'
    %p.btn.btn-primary No Linked Asset
