%nav#nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button{ type:"button", class:"navbar-toggle collapsed", data: {toggle:"collapse", target:"#navbar"}, aria: { expanded:"false", controls:"navbar" }}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'RollCall', '/', class: 'navbar-brand'
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-left
        %li
          = link_to 'About', url_for(:home, :about)
        - if current_company
          %li
            = link_to 'Assets', url_for(:assets, :index)
          %li
            = link_to 'Categories', url_for(:categories, :index)
          %li
            = link_to 'Users', url_for(:users, :index)
          %li
            = link_to 'Roles', url_for(:roles, :index)
          %li
            = link_to 'Requests', url_for(:asset_requests, :index)
          %li
            = link_to 'Settings', url_for(:companies, :settings)
      - if current_user
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to current_user_email, url_for(:users, :show, id: current_user.id)
          %li
            = form_tag '/sessions/destroy', method: 'delete', class: 'navbar-form' do
              = field_set_tag do
                = submit_tag 'Log out', class: 'btn btn-danger btn-sml'
      - else
        %ul.nav.navbar-nav.navbar-right.navbar-form
          = link_to 'Log in', url_for(:sessions, :new), class: 'btn btn-success btn-sml'
