!!! Strict
%html
  %head
    %title= "RollCall"
    = stylesheet_link_tag 'css/bootstrap.min.css'
    = stylesheet_link_tag 'css/rollcall.css'
    = stylesheet_link_tag 'css/font-awesome.min.css'
    = stylesheet_link_tag 'css/bootstrap-datepicker.min.css'
    = javascript_include_tag 'jquery.min.js'
    = javascript_include_tag 'bootstrap.min.js'
    = javascript_include_tag 'rollcall.js'
    = javascript_include_tag 'bootstrap-datepicker.min.js'
    = javascript_include_tag "https://www.google.com/jsapi", "chartkick"
    = meta_tag git_sha, name: 'sha'
  %body
    = partial 'layouts/nav'
    .container
      = partial 'layouts/flash'
      = yield

      %hr
      %footer
        Copyright &copy; 2015 RollCall